
/* link google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* Body styling */



body{
    margin: 0px;
    padding: 0px;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.together{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* For all similar tag */



h1{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}


/* footbody part start */
.footbody{
    height: 677px;
    background: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  
}
.footbody .content{
    position: absolute;
    top: 207px;
    left: 156px;
    transition: all .2s ease-in-out;
   
}
.footbody:hover .content{
    transform: perspective(50em) rotateY(50deg);
  
 
}
.footbody .content a{
    
    padding: 10px 24px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:white;
    background: #E02C6D;
   
    
   
}
.footbody .content a i{
    font-size: 16px;
    padding-left: 8px;
}

.footbody .banner{
   position: absolute;
   left: 743px;
   top: 135px;
    
}

.footbody .banner img{
    width: 556.01px;
    height: 456px;
}
.footbody:hover .banner img{
    transition: 0.5s ease-in-out;
    transform: translateX(-200px);
}

/* footbody end */


/* player item start */

.totalplayer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.playeritems{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:30px 27px;
   
}

.playeritems .players{
    width: 330px;
    height: 474px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 15px;
    
    
    
}
.playeritems .players  .player{
    width: 300px;
    height: 426px;
    margin: 0px 10px;
    
}
.playeritems .players .player .player-pic{
   
    width: 300px;
    height: 256px;
   

}
.playeritems .players .player .player-pic img{
   
    width: 100%;
    height: 100%;
}
.playeritems .players .player .about{
    width: 300px;
    height: 256px;
    /* display: flex;
    flex-direction: column; */
    margin: 16px 0px;

}
.playeritems .players .player .about h2{
    
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    
}
.playeritems .players .player .about p{
  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}




/* Player item end here */



/* extra section1*/

.match{
    margin: 15px 0px;
}
.today{
    display: flex;
    flex-direction: column;
}
.today h3{
    text-align: center;
    color: goldenrod;
    
}


.today .flagmain{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.today .flagmain img{
    width: 400px;
    height: 300px;
    margin: 20px;
    
}


/* extra kit2 */

.kitsitem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-direction: column;
   
}
.kitsitem h3{
    text-align: center;
    color: goldenrod;
}
.kit{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px 30px;
}
.kit img{
    height: 300px;
    width: 300px;
    margin: 30px;
}


















/* footer start  */
.lastsection{
   position:relative;
   width: 1440px; 
   display: flex;
   justify-content: center;

}

.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 483.87px;
    height: 413px;
   
}
.total .pic img{
    width: 483.87px;
    height: 110px;
    margin: 20px 0px;
}

.total .social-menu{
    height: 128px;
    width: 32px;
   
    margin: 0px 14px;
   
}

.social ul{
    
    display: flex;
    
}
.social ul li{
    list-style-type: none;
    margin: 0 14px;
}
.social ul li a{
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #E7E7E8;
    text-align: center;
}

.social ul li a i{
position: absolute;
left: 24.33%;
right: 24.33%;
top: 24.33%;
bottom: 24.33%;

color: #969BAB;
}
h2{

    position: relative;
    left: 8%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

}



